

.btn-purple {
  background: #9966ff;
  //background: linear-gradient(to bottom right, #9966ff 30%, #33ccff 100%);
}

.btn-darkblue {
  background: #161032;
}

.btn-cloud {
  background: #477890;
}

.btn-sky {
  background: #4C86A8;
}
