.icon {
  cursor: pointer;
  color: white;
  width: 12px;
  margin-bottom: 1px;
}

.icon-sm {
  width: 8px;
  height: auto;
}

.icon-md {
  width: 18px;
  height: auto;
}

.icon-lg {
  width: 28px;
  height: auto;
}

.icon-xl {
  width: 40px;
  height: auto;
}

.icon-block {
  width: 100%;
  height: auto;
}
