$light-gray: #A9A9AB;

.bg-smoke {
  background: #212A3E;
  //background: linear-gradient(to bottom right, #9966ff 30%, #33ccff 100%);
}

.bg-lighten {
  background: #9BA4B5;
}

.bg-sky {
  background: #394867;
}
